* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

@mixin bg-styles() {
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    height: 100%;
    width: 100%;
    gap:6px;
    padding: 10px;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "aside top-right top-right top-right"
                         "aside bottom-left bottom-center bottom-right";

    aside {
        grid-area: aside;
        background-image: url(https://images.unsplash.com/photo-1514316454349-750a7fd3da3a?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGNhcnN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=900);
        @include bg-styles();
    }

    #top-right {
        grid-area: top-right;
        background-image: url(https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2Fyc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=900);
        @include bg-styles();
    }

    #bottom-left {
        grid-area: bottom-left;
        background-image: url(https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2Fyc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=900);
        @include bg-styles();
    }

    #bottom-center {
        grid-area:  bottom-center;
        background-image: url(https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Y2Fyc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=900);
        @include bg-styles();
    }

    #bottom-right {
        grid-area:  bottom-right;
        background-image: url(https://images.unsplash.com/photo-1605559424843-9e4c228bf1c2?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y2Fyc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=900);
        @include bg-styles();
    }


}
