/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height: 100%;
    width: 100%;
}

:root {
  --x:400px;
  --y:400px;
}

html {
  overflow: hidden;
}

main {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 4px;
  position: relative;
}


.section {
  height: 100%;
  width: calc(100% / 4);
  
}

img { 
  height: 100%;
  width: 100%;
  object-fit: cover;
}



.box {
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(120px at var(--x) var(--y),rgba(155, 255, 255, 0) 0%,rgba(0, 0, 0, 0.959));
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

:root {
  --x: 400px;
  --y: 400px;
}

main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: black;
  position: relative;
}

.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 999;

  /* spotlight effect */
  background: radial-gradient(
    150px at var(--x) var(--y),
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.95) 70%
  );
}
